.post-info {
    margin-top: 10px;
    margin-bottom: 10px;
}
.nickname {
    margin-right: 50px;
}

.reply-nickname {
    margin-right: 50px;
}

.reply-list {
    margin-top: 20px;
    margin-botton: 20px;
}

.pageIndex {
    margin-left: 15px;
}